################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/7-Price/FileContentIndex/1e6cd81b-5bd1-40b8-b331-1318c9bdd6f5.vsidx
/.vs/7-Price/FileContentIndex/aee8ea67-d9d0-4146-b7fa-f9394877128a.vsidx
/.vs/7-Price/FileContentIndex/d58bb56c-c116-4c31-b883-408b17d7bb3d.vsidx
/.vs/7-Price/FileContentIndex/e3973a1c-585d-4264-8ad8-e833bf4e59ec.vsidx
