@model IEnumerable<NewsParser.Models.News>
@{
    ViewData["Title"] = "Home Page";
}

<table>
    <thead>
        <tr>
            <th>Час</th>
            <th>Заголовок</th>
            <th>Сайт</th>
            <th>Час парсингу</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var news in Model)
        {
            <tr>
                <td>@news.NewsTime</td>
                <td>@news.Name</td>
                <td>@news.Site</td>
                <td>@news.ParseDate</td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <th>Час</th>
            <th>Заголовок</th>
            <th>Сайт</th>
            <th>Час парсингу</th>
        </tr>
    </tfoot>
</table>